:root{
    --main-color:#5b4b45;
}
.container-fluid{
    background-color: rgba(144,
        122,
        112, 0.21);
}
.navbar-brand, .nav-link{
    color: #6e472e;
}
.nav-link:hover{
    color: #332014;
}
body{
    background-color: RGBA(224,
        219,
        216, 0.21);
    text-align: center;
}
h1{
    text-align: center;
    color: var(--main-color);
    text-decoration: underline;
}
h2{
    color: #907a70;
}
.main-image{
    max-width: 50%;
    display: block;
    margin: auto;
}
.container{
    display: grid;
}
.connecting-pages{
   
    justify-content: space-evenly;
}
p{
    text-align: center;
    line-height: 1.5;
    padding: 20px;   
    text-align: justify;
}

img{
    height: auto;
    max-width: 100%;
    margin: auto;
}
footer{
   margin-bottom: 4%;
}